<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="!log-console">
        <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
            <filter class="no.nav.data.common.kafka.LogbackKafkaFilter"/>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                    <maxDepthPerThrowable>30</maxDepthPerThrowable>
                    <exclude>java\.util\.concurrent\..*</exclude>
                    <exclude>jdk\.internal\.reflect\..*</exclude>
                    <exclude>org\.apache\.tomcat\..*</exclude>
                    <exclude>org\.apache\.coyote\..*</exclude>
                    <exclude>org\.apache\.catalina\..*</exclude>
                    <exclude>org\.eclipse\.jetty\..*</exclude>
                </throwableConverter>
            </encoder>
        </appender>

        <logger name="no.nav" level="DEBUG"/>
        <logger name="no.nav.data.common.security.azure.support.GraphLogger" level="INFO"/>
        <logger name="org.springframework.boot" level="INFO"/>

        <!-- TODO: Delete this ORG-1582 -->
        <logger name="com.microsoft.aad.msal4j" level="FATAL" />
        <logger name="org.springframework.scheduling.support.TaskUtils" level="FATAL" />





        <root level="INFO">
            <appender-ref ref="STDOUT_JSON"/>
        </root>
    </springProfile>

    <springProfile name="log-console">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%date [%-5level] %logger{1} -- %message%n</pattern>
            </encoder>
        </appender>

        <root level="WARN">
            <appender-ref ref="STDOUT"/>
        </root>

        <logger name="no.nav.nom" level="INFO" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>

        <logger name="org.springframework" level="INFO"/>
    </springProfile>
</configuration>