
:root {
    /*Define the primary color used in team-catalog*/
    --custom-primary: var(--a-deepblue-600);
    --custom-primary-hover: var(--a-deepblue-700);
    --custom-primary-active: var(--a-lightblue-800);
    --custom-secondary-hover: var(--a-deepblue-50);

    --a-surface-action: var(--custom-primary);
    --a-surface-action-hover: var(--custom-primary-hover);
    --a-surface-active: var(--custom-primary-active);
    --a-surface-action-subtle-hover: var(--custom-secondary-hover);
    --a-text-action: var(--custom-primary);
    --a-text-action-on-action-subtle: var(--custom-primary);
    --a-border-focus: var(--custom-primary);
    --a-border-action: var(--custom-primary);
    --ac-link-text: var(--custom-primary);

}

a {
    font-weight: 600;
}

a:hover {
    text-decoration: none;
}

.navds-button {
    border-radius: 8px;
}