
:root {
    /*Define the primary color used in team-catalog*/

    /* After aksel v7 -> v8: Avoid blue colors being too light */
    --ax-brand-blue-700: var(--ax-brand-blue-900);
    --ax-brand-blue-600: var(--ax-brand-blue-800);
    --ax-brand-blue-400: var(--ax-brand-blue-500);

    --custom-primary: var(--ax-brand-blue-700);
    --custom-primary-hover: var(--ax-brand-blue-800);
    --custom-primary-active: var(--ax-brand-blue-200);
    --custom-secondary-hover: var(--ax-brand-blue-100);

    --ax-bg-accent-strong: var(--custom-primary);
    --ax-bg-accent-strong-hover: var(--custom-primary-hover);
    --ax-bg-neutral-moderate-pressedA: var(--custom-primary-active);
    --ax-bg-accent-moderate-hover: var(--custom-secondary-hover);
    --ax-text-accent-subtle: var(--custom-primary);
    --ax-border-focus: var(--custom-primary);
    --ax-border-accent: var(--custom-primary);

}

a {
    color: var(--custom-primary);
    font-weight: 600;
}

a:hover {
    text-decoration: none;
}

.navds-button {
    border-radius: 8px;
}