name: 'deploy: alerts'
on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/deploy-alerts.yaml'
      - 'apps/frackend/nais/alerts-frackend-dev-gcp.yaml'
      - 'apps/frackend/nais/alerts-frackend-prod-gcp.yaml'
      - 'apps/backend/nais/alerts-backend-dev-gcp.yaml'
      - 'apps/backend/nais/alerts-backend-prod-gcp.yaml'
  workflow_dispatch:

jobs:
  apply-backend-alerts:
    name: Apply backend alerts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to dev
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: apps/backend/nais/alerts-backend-dev-gcp.yaml

      - name: Deploy to prod
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: apps/backend/nais/alerts-backend-prod-gcp.yaml

  apply-frackend-alerts:
    name: Apply frackend alerts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to dev
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: apps/frackend/nais/alerts-frackend-dev-gcp.yaml

      - name: Deploy to prod
        uses: nais/deploy/actions/deploy@v1
        env:
          CLUSTER: prod-gcp
          RESOURCE: apps/frackend/nais/alerts-frackend-prod-gcp.yaml